@model List<CityViewModel>
@{
    Layout = "~/Views/Shared/_layoutLocation.cshtml";
}
<section class="project-list">
    <div class="container-fluid">
        <div class="inner-project">
            <div class="inner-project-list">


                @foreach(var city in Model)
                {
                    var photolocation = "Image/location/" + city.CityPhoto;
                    var cityname = city.CityName;
                    <div class="project-list-item">
                        <a asp-action="Index" asp-controller="Home" asp-route-city="@cityname" class="project-link" target="_blank">
                            <div class="proj_list" style="background-image:url(@photolocation)">
                                <h2>@city.CityName</h2>
                                <p>Luxury Properties in @cityname</p>
                            </div>
                        </a>
                    </div>
                }

                
                




            </div>
        </div>
    </div>
</section>