<!DOCTYPE html>

<html lang="en"><head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<title>Best Luxury Projects In India | Luxury Residential Projects In India</title>
<meta name="description" content="Best Luxury Projects In India - Here you can explore old &amp; new luxury projects, upcoming luxury projects, super &amp; under construction luxury projects &amp; more.">
<meta name="keywords" content=" ">
<link rel="icon" href="images/favicon.ico">  
<meta name="ROBOTS" content="noindex, follow">
<meta name="geo.region" content="IN">
<meta name="allow-search" content="yes">
<meta name="revisit-after" content="daily">
<meta name="distribution" content="global">
<meta name="expires" content="never">
<link rel="canonical" href="https://www.luxuryresidences.in/locations.html">
<link rel="alternate" hreflang="en-us" href="https://www.luxuryresidences.in/locations.html">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="~/css/header.css">
<link rel="stylesheet" href="~/css/location.css"> 

<script type="text/javascript" src="https://cdn.taboola.com/scripts/cds-pips.js" charset="UTF-8" async="async"></script><script async="" src="https://snap.licdn.com/li.lms-analytics/insight.old.min.js"></script><script async="" src="//cdn.taboola.com/libtrc/unip/1195484/tfa.js" id="tb_tfa_script"></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script type="text/javascript" async="" src="https://cdn.taboola.com/libtrc/unip/1195484/tfa.js"></script><script type="text/javascript" async="" src="https://static.ads-twitter.com/uwt.js"></script><script type="text/javascript" async="" src="https://snap.licdn.com/li.lms-analytics/insight.min.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-58GDN3V"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-58GDN3V');</script>

<style type="text/css">font-face { font-family: Roboto; src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf"); }</style></head>    
<body cz-shortcut-listen="true">

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58GDN3V"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


<header>
  <div class="container-fluid">
      <div class="inner-header">
          <div class="logo"><a href="index.html"><img src="images/luxury-logo.png" alt="Luxury Residences" width="130" height="50"></a></div>
          <div class="menu">
              <div class="button_container" id="toggle">
                  <span class="top"></span>
                  <span class="middle"></span>
                  <span class="bottom"></span>
              </div>
              <div class="overlay" id="overlay">
                  <nav class="overlay-menu">
                      <ul>
                          <li><a class="active" title="Home" href="index.html" target="_blank">HOME</a></li>
                          <li class="dropdown">   
                            <span>PROJECTS <i class="fa fa-angle-down" aria-hidden="true"></i></span>  
                            <ul class="submenu">
                              <li><a title="All PROJECTS" href="projects.html" target="_blank">All Projects</a></li>   
                              <li><a title="Ready To Move" href="ready-to-move-projects.html" target="_blank">Ready To Move</a></li>
                              <li><a title="Under Construction" href="under-construction-project.html" target="_blank">Under Construction</a></li>  
                            </ul> 
                          </li>
                          <li><a title="Locations" href="locations.html" target="_blank">LOCATIONS</a></li>
                          <li><a title="About Us" href="about.html" target="_blank">ABOUT US</a></li>
                          <li><a title="Contact Us" href="contact.html" target="_blank">CONTACT US</a> </li>    
                      </ul>
                  </nav>   
              </div>   
          </div>
      </div>
  </div>
</header>
<script>
  $('#toggle').click(function() {
    $(this).toggleClass('active');
    $('#overlay').toggleClass('open');
  });
</script>
<main>
    @RenderBody()
</main>
<script src="~/js/jquery-3.6.0.js"></script> 
<!-- <script src="js/extranal.js"></script>  -->
<script src="~/js/include-html.min.js"></script>



<script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","2182630415362526");fbq("set","agent","tmgoogletagmanager","2182630415362526");fbq("track","PageView");</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2182630415362526&amp;ev=PageView&amp;noscript=1"></noscript>

<script type="text/javascript" id="">window._tfa=window._tfa||[];window._tfa.push({notify:"event",name:"page_view",id:1195484});!function(a,b,d,c){document.getElementById(c)||(a.async=1,a.src=d,a.id=c,b.parentNode.insertBefore(a,b))}(document.createElement("script"),document.getElementsByTagName("script")[0],"//cdn.taboola.com/libtrc/unip/1195484/tfa.js","tb_tfa_script");</script>
</body>
</html>